<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721434766816-6q5cua2nk7e6craal8st5e88e915cfoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721434766816-6q5cua2nk7e6craal8st5e88e915cfoa</string>
	<key>API_KEY</key>
	<string>AIzaSyDPqN1ZUTUT969iIIyrdC7gBOTgcFkryOg</string>
	<key>GCM_SENDER_ID</key>
	<string>721434766816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coryzz.login</string>
	<key>PROJECT_ID</key>
	<string>login-9cc46</string>
	<key>STORAGE_BUCKET</key>
	<string>login-9cc46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721434766816:ios:5ab27c273d6755971d8f85</string>
</dict>
</plist>